*{
    background-color: #eeeeee;
}
h3, h4, div {
    text-align: center;
}
h2,h3,h4{
  color:rgb(0, 116, 0);
}
div img{
    border-radius: 50%;
}
h1{
    text-align: center;
    -webkit-text-stroke-width: 1px;
}
h2 {
    text-align:center;
  }

.grid{
    display:grid;
    place-items:center;
    padding:290px 0px;
}
ol, ul {
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
    font-weight:bold;
    color:green;
    list-style:inside;
    text-align: center;
}
.not-aligned{
    padding:0px;
    color:rgb(155, 111, 0);
}
p{
    font-family:'Times New Roman', Times, serif;
    color:hsl(180, 100%, 25%);
    text-align: center;
    font-weight:bold;
}
.lasagna {
    color:rgb(164, 100, 10);
    font-weight:900; -webkit-text-stroke-width: 0px;
    font-family: cursive;
}
.soup{
    border-radius:10%;
}

.odin-recipes {
    width:220px;
    margin-left:665px;
    color:red;
    -webkit-text-stroke-color: black;
}
.odin-recipes:hover{
    background-color: orange;
    color:blue;
    border-radius:100%;
}